# Ignore everything
*

# Except OneTrack files
!app.py
!database.py
!requirements.txt
!.gitignore
!DEPLOY.md
!SETUP_LOCAL.md
!DOWNLOAD_GUIDE.md
!auto_sync.py
!start.py
!setup_onetrack.bat
!.env.example

# Except OneTrack data
!onetrack.db
!stderr.txt

# Except static folder
!static/
!static/***

# Except deploy folder
!deploy/
!deploy/***

# Keep .env and .secret_key secret
.env
.secret_key

# Keep VM IP secret
.vm_ip

# Keep SSH keys secret
.ssh/
